        a:link {
            color: green;
            background-color: transparent;
            text-decoration: none;
        }
        
        a:visited {
            color: pink;
            background-color: transparent;
            text-decoration: none;
        }
        
        a:hover {
            color: red;
            background-color: transparent;
            text-decoration: underline;
        }
        
        a:active {
            color: yellow;
            background-color: transparent;
            text-decoration: underline;
        }
        
        table,
        th,
        td {
            border: 1px solid black;
            /* border-collapse: collapse; */
            /* to avoid multiple borders */
        }
        
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        .left {
            width: 20%;
            padding: 20px;
            float: left;
            background-color: blue;
        }
        
        .main {
            width: 60%;
            padding: 20px;
            background-color: green;
            float: left;
        }
        
        .right {
            width: 20%;
            background-color: red;
            padding: 20px;
            float: left;
        }
        
        @media screen and (max-width: 800px) {
            .left,
            .main,
            .right {
                width: 100%;
                /* The width is 100%, when the viewport is 800px or smaller */
            }
        }